/* CSS Document */
* {
	box-sizing: border-box;
	transition: 1s all;
	scroll-behavior: smooth;
}

a{
	color: inherit;
}

body{
	overflow-x: hidden;
}

.top-img {
	position: relative;
}

.heading {
	font-size: 4vw;
	color: var(--icon-btn);
}

.top-main {
	background-color: rgba(147,147,147,0.70);
	border-radius: 8px;
	padding: 12px;
	width: 88%;
	top: 300px;
}

.search-box {
	flex: 55;
}

.form-inline {
	width: 80%;
}

.search {
	margin: 0;
	display: flex;
	width: 100%;
}

.btn-search {
	flex: 10;
	background-color: var(--icon-btn);
}

.main-line {
	margin: 20px 5%;
	background-color: #A8A8A8;
}

.spinner-p {
	margin: 5px 15px;
	overflow: hidden;
}

.spinner {
	flex: 22;
}

.tag-1,
.tag-2,
.tag-3,
.tag-4,
.tag-5 {
	padding: 8px 12px;
	border-radius: 5px;
	margin: 5px 2px;
	text-align: center;
	color: white;
	font-size: 1.2vw;
}

.tag-1:hover,
.tag-2:hover,
.tag-3:hover,
.tag-4:hover,
.tag-5:hover {
	cursor: pointer;
	transform: scale(1.15);
}

.tags{
	display: flex;
	flex-wrap: wrap;
}

.tag-1 {
	background-color: #D71518;
}

.tag-2 {
	background-color: #152BD7;
}

.tag-3 {
	background-color: #29D715;
}

.tag-4 {
	background-color: #D71599;
}

.tag-5 {
	background-color: #FF8E00;
}



.cards-p {
	display: inline-flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
}

.jCard {
	max-width: 700px;
	width: 100%;
	height: 250px;
	border-radius: 8px;
	margin: 12px;
	display: inline-flex;
	flex-wrap: nowrap;
}

.card-heading {
	max-width: 250px;
	width: 35%;
	height: 100%;
	position: relative;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	overflow: hidden;
}

.card-head {
	width: 100%;
	text-align: center;
	line-height: 250px;
	background-color: rgba(0, 0, 0, 0.70);
	white-space: nowrap;
	font-size: 18px;
}

.card-row {
	width: 100%;
	padding: 5px 15px;
	font-size: 16px;
}

.jCard div {
	color: white;
	font-weight: bold;
}

.card-detail {
	border: 1px solid #ccc;
	padding: 5px;
	background-color: #343434;
	max-width: 450px;
	width: 65%;
	position: relative;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.tag-heading {
	padding: 12px 0px;
	font-size: 1.15vw;
}

.overlap-box {
	position: relative;
	border-radius: 15px;
	width: 94%;
	margin: -50px auto 10px;
	height: 200px;
/*	background-color: #666666;*/
	background-color: #fff;
/*	border: 1px #ccc solid;*/
}

.overlap-box * {
	transition: 0s all;
}

.top-tag-p {
	border-radius: 15px;
	width: 100%;
	height: 100%;
	position: relative;
	transition: 0s linear;
}

.top-tag-p:hover{
	transform: translateY(-15px);
	background-color: var(--icon-btn);
	color: white;
	transition: 0.3s linear;
	cursor: pointer;
}

.top-tag-p:hover .tag-quantity{
	background-color: #4A4A4A;
}

.top-tag-p:hover .top-icon-colors{
	color: #fff;
}

.tag-quantity {
	border-radius: 15px;
	background-color: #E1E1E1;
	padding: 2px 7px;
}

.top-icon-colors {
	color: var(--icon-btn);
	margin-bottom: 8px;
}



.btn-view {
	margin-top: 1px;
}

.card-disc {
	font-size: 11px;
	text-align: justify;
	font-weight: lighter;
	padding: 5px 15px;
	height: 105px;
	overflow: hidden;
}

.card-btn-padding {
	padding: 0px 12px;
}

.card-discrip-head {
	font-size: 12px;
	padding-left: 16px;
	margin: 44px 0 0 0;
}

.left-card {
	width: 95%;
	padding: 12px;
	background-color: #F8F8F8;
	border-radius: 5px;
}

.left-card-row {
	width: 100%;
	display: inline-flex;
	flex-wrap: nowrap;
	height: 66px;
}

.left-card-row:hover{
	transform: scale(1.15);
	cursor: pointer;
}

.lc-row-img-p {
	flex: 25;
}

.lc-row-text {
	flex: 75;
}

.lc-text {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 0px 10px;
}

.lc-aplay {
	float: left;
	margin-left: 10px;
}

.line {
	width: 100%;
	background-color: #ccc;
}

.card-disc-anim {
	animation: 10s textTop linear infinite;
}

@keyframes textTop{
	from{
		transform: translateY(0);
	}
	to{
		transform: translateY(-50px);
	}
}

.btn-card {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -50px;
	z-index: 5;
	border-radius: 50px;
	height: 100px;
	width: 100px;
	background-color: var(--icon-btn);
	color: white;
	font-weight: bold;
}

.btn-card:hover{
	transform: translateY(-50%) scale(1.2);
}

.cardTags>span {
	background-color: #5B5B5B;
	border-radius: 3px;
	padding: 5px 8px;
	margin: 3px;
	color: white;
	display: inline-block;
	font-size: 1vw;
}

.top-btn {
	width: 90%;
	height: 56px;
	margin: 15px auto;
	border-radius: 10px;
	background-color: var(--icon-btn);
	color: white;
	font-weight: bold;
}




