/* CSS Document */
*{
	box-sizing: border-box;
	transition: 1s all;
}

.top-img {
	position: relative;
}

.heading {
	font-size: 3vw;
	margin: 0;
	padding: 0;
	color:var(--bg-color);
	width: 100%;
}
.top-heading {
	width: 100%;
	height: 60px;
	background-color: var(--icon-btn);
	border-radius: 8px;
}

.top-box {
	padding: 40px;
}

.top-head {
	line-height: 60px;
	float: left;
	margin-left: 1vw;
	color: var(--bg-color);
}

.btn-back {
	border-radius: 20px;
	float: right;
	margin-right: 1vw;
	margin-top: 12px;
}

.sub-box {
	padding: 40px;
}

.res-tags-p {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.res-tag {
    margin:15px;
    width:150px;
}

.res-icons {
	color: var(--icon-btn);
}

.salery-p {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
}

.sal-icon {
	padding-right: 10px;
	color: var(--icon-btn);
}

.map {
	width: 100%;
}

.sub-box-left {
	background-color: var(--bg-color);
	padding: 35px 3%;
}

.top-man-icon {
	color: var(--icon-btn);
}

.icon-left-p {
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

.left-icon {
	color: var(--icon-btn);
}

.left-line {
	width: 80%;
	
}

.left-row {
	display: flex;
	justify-content: flex-start;
}

.left-row-text {
	margin-left: 35px;
}

.left-row-icon {
	margin-top: 6px;
}

.left-main {
	margin-left: 8vw;
	
}

.ad {
	border: 1px solid #000;
	margin-left: -15%;
}

.ad-text {
	margin-left: -15%;
}

.overlap-box {
	position: relative;
	border-radius: 15px;
	width: 90%;
	margin: -50px auto 10px;
	height: 200px;
	background-color: var(--nav-color);
}

.btn-bg {
	background:var(--nav-color);
	color:var(--bg-color);
}
.btn-bg:hover{
	
	background: var(--bg-color);
	color: var(--icon-btn);
	transition: 1.5s all;
}

.apply-btn {
	padding: 12px 21px;
	background:var(--hover-btn);
	text-decoration: none;
	color: var(--bg-color); 
	width: 80%;
	text-align: center;
	border-radius: 40px;
	font-size: 2vw;
	font-weight: bolder;
	margin-left: 10%;
	margin-right: 10%;
}

.apply-btn:hover{
	background: var(--nav-color);
	transition: 1.5s all;
	cursor: pointer;
}

.text-cl {
	text-decoration: none; 
	color:var(--bg-color);
}
.text-cl:hover {
	text-decoration: none;
	color:var(--bg-color);
}
