<!doctype html>
<html>
<head> 
	
	<link rel="stylesheet" href="../libs/fAwe.css">
	<script src="../libs/bs4.js"></script>
	<link rel="stylesheet" href="../libs/bs4.css">
	<script src="../libs/jQuery.js"></script>
	<script src="../libs/pooper.js"></script>
	
	 <link rel="stylesheet" type="text/css" href="../css/about-panel.css">
    <link rel="stylesheet" type="text/css" href="../css/contact-us.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../js/common.js"></script>
	<script src="../js/manageTheme.js"></script>
	<link rel="shortcut icon" href="../images/logo-red.png">
<title>Contact Us</title>
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-top">

        <a class="navbar-brand" href="../index.html">
            <img src="../images/logo-red.png" class="nav-logo" alt="LOGO"> Job Connect
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown textFontsize mr-2">
                    <a href="../index.html" class="nav-link" >Home</a>
                </li>

                <li class="nav-item dropdown textFontsize mr-2" id="navJob2">
					
                </li>
				
				<li class="nav-item dropdown textFontsize mr-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Interviews</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="interview.html#first">Sample Interviews (Job Seekers)</a>
						<a class="dropdown-item" href="interview.html#second">Interview Etiquette (Job Seekers)</a>
						<a class="dropdown-item" href="interview.html#third">Avoid in interviews (Job Seekers)</a>
						<a class="dropdown-item" href="interview.html#fourth">Sample Interviews (For Employers)</a>
                        <a class="dropdown-item" href="interview.html#fifth">Tips for Employers</a>
                    </div>
                </li>

                <li class="nav-item dropdown textFontsize mr-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Change Theme</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Red</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Sky Blue</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Orange</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Pink</a>
                    </div>
                </li>

                <li class="nav-item dropdown textFontsize mr-2">
                    <a href="../view/contact-us.html" class="nav-link active">Contact Us</a>
                </li>

                <li class="nav-item dropdown textFontsize mr-2">
                    <a href="../view/about-us.html" class="nav-link">About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" id="navRegister">
                
			</ul>
        </div>
    </nav>
    
    <div class="container-fluid">
        <div class="row">
           <div class="bgImage"></div>	
            <div class="col-md-10  about-top">
                  	 <h1 class="heading">Contact Us</h1>
                    <p class="main-parag">A World Top Class Job Site</p>
            </div>
        </div>
		<br><br><br><br>
    </div>   
    
    
              <div class="container-fluid">
                     <div class="row  ml-4">
                        <div class="col-md-8 form-Div">
                           <div class="input-Upr-Div">
                              <div class="input-Div">
                            <form>
                              <h1 class="form-heading">Your Name</h1>
                              <input class="form-control"  type="text" name="" placeholder="Enter Your Name" required><br>
                              <h1 class="form-heading">Your Email</h1>
                              <input class="form-control"  type="email" name="" placeholder="Enter Your Email" required>
                              <h1 class="form-heading">Message</h1>
                              <textarea class="textArea form-control" style="width: 83%;"></textarea>
                              <br><br>
                             <center><input type="submit" value="Submit "></center>
                            </form>
                             </div>
                           </div>
                        </div>
                         <div class="col-md-1"></div>
                        <div class="col-md-3 sub-Div">
                             <h1 class="right-Heading"> Adress</h1>
                            <p class="right-parag"><i class="fa fa-map-marker fa-icons"></i> 123 Main Street,Anytown,LDH 12345 Pakistan</p>
                              <h1 class="right-Heading">Phone No</h1>
                              <p class="right-parag"><i class="fa fa-phone fa-icons"></i> 021-1234567</p>
                              <h1 class="right-Heading">Email</h1>
                              <p class="right-parag"><i class="fa fa-envelope-o fa-icons"></i> Email@gmail.com</p>
                              <h1 class="right-Heading">Skype</h1>
                              <p class="right-parag"><i class="fa fa-skype fa-icons"></i> skype.com/jobs.2019</p>
                             <img src="../images/contact-images/ads.jpg" height="auto" width="100%" alt="image" style="max-height:210px;max-width: 300px;">
<!--                               <hr style="border-bottom: 10px solid;margin-top:20%;">-->
                         </div>                         
                     </div>
              </div><br><br>
    
        <div class="container-fluid">
<!--            <center><h1 class="">Find Us Him On Google Map</h1></center><br>-->
           <div class="row">
               <div class="col-md-12">
                    <!--Map Row Start-->
              <div class="mapG bg-light padDel">

                <div class="mapouter bg-color-blue " >
                      <div class="gmap_canvas"><iframe width="100%" height="500px" id="gmap_canvas"
											src="https://maps.google.com/maps?q=aptech%20shar&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
											scrolling="no" marginheight="0" marginwidth="0">
										</iframe><a
                        href="https://www.pureblack.de">pureblack.de</a></div>
                    <style>
                       .mapouter {
                          text-align: right;
                          height: 500px;
                          width: 100%;
                       }

                       .gmap_canvas {
                          overflow: hidden;
                          background: none !important;
                          height: 500px;
                          width: 100%;
                       }
                    </style>
                </div>


            </div>
        <!--Map Row end-->
               </div> 
           </div>  
        </div><br>

<!--	about panel-->
	 <div class="about-panel container-fluid">
            <div class="row">
                <div class="col-md-3 ab-first-row">
                    <center><img alt="img" src="../images/logo-red.png" width="200px" height="auto" /></center>
                    <!--					<br>-->
                    <!--					<p>We provide you best opertunities to get Jobs in a high talented working comunity.</p>-->
                    <br><br>
                    <center>
                        <hr class="bg-pan">
                    </center>
                    <p>Call Us - 0348-2821889</p>
                    <p>Send Email On ranag4u69@gmail.com</p>
                    <p>Visit Us SFC Aptech Karachi, Pakistan</p>
                </div>
                <div class="col-md-3">
                    <h3>POPULAR CATEGORIES</h3>
                    <br>
                    <div class="tags">
                        <span>REACT-NATIVE</span>
                        <span>ANDROID</span>
                        <span>HTML &amp; CSS</span>
                        <span>JAVASCRIPT</span>
                        <span>REACT-JS</span>
                        <span>JAVA</span>
                        <span>ASP.NET</span>
                    </div>
                    <br>
                    <br>
                    <br>
                    <h3>GET MORE INFO</h3>
                    <p>Get any info or give us any suggestions by contacting us.We provide you best opertunities to get
                        Jobs quickly.</p>
                </div>
                <div class="col-md-3">
                    <h3>RECENTS JOBS</h3><br>
                    <h4>Software House Manager</h4>
                    <h4>Content Writer</h4>
                    <h4>Game Developer</h4>
                    <h4>Frontend Designer</h4>
                    <h4>Backend Server Designer</h4>
                    <br>
                    <br>

                    <p>Get More Jobs...</p>
                    <div class="icon-bar">
                        <a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.google.com" class="google"><i class="fa fa-google"></i></a>
                        <a href="https://www.linkedin.com" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>CONTACT US</h3>
                    <br>
                    <form>
						<input class="form-control" placeholder="Name" required /><br>
						<input class="form-control" placeholder="Email" required/><br>
						<input class="form-control" placeholder="Subject" required/><br>
						<input class="form-control" placeholder="Content" required/><br>
						<input type="submit" class="btn ab-btn" value="Submit" onSubmit="alert('form sent')" />
					</form>
                </div>
            </div>
        </div>
<!--	about panel end-->

	<!--	 Footer-->
	<div class="footer-div">
        <footer><span class="ml-5 float-left">Date &amp; Time : <span id="date"></span></span> Copyright TechWiz &copy;- All rights Reserved <span class="mr-5 float-right">Page Views : <span id="pgView"></span></span></footer>
    </div>
	<!--	footer end-->


</body>
</html>
