<!doctype html>
<html><head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="../libs/fAwe.css">
	<script src="../libs/bs4.js"></script>
	<link rel="stylesheet" href="../libs/bs4.css">
	<script src="../libs/jQuery.js"></script>
	<script src="../libs/pooper.js"></script>
	<script src="../libs/angular.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<!--angularjs-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <!--angularjs end-->
	
	<script src="../js/manageTheme.js"></script>
	<script type="text/javascript" src="../data/data.js"></script>
	<script src="../js/jobs-view-controller.js"></script>
	<script src="../js/common.js"></script>

	<link rel="stylesheet" href="../css/viewJob.css" />
	<link rel="stylesheet" href="../css/lightBox.css" />
	<link rel="stylesheet" href="../css/common.css" />
	<link rel="stylesheet" href="../css/about-panel.css" />
	<link rel="shortcut icon" href="../images/logo-red.png">
	
	<title>Job Connect</title>
</head>

<body ng-app="jobView" ng-controller="jobViewController">
	
	<!--	hire job box-->
	<div class="top-light-box" id="applyForJob">
		<script>
			function closeBox(){
				$('.top-light-box').css("display","none");
			}
			function applay(){
				if($('#lbName').val() == "" || $('#lbEmail').val() == "" || $('#lbTitle').val() == ""){
					$('#toast').html('Fill all fields');
				}else{
				   	$('#toast').html('Email Sent to that candidate');
					setTimeout(function(){
						$('.top-light-box').css("display","none");
					},2000);
				}
			}
		</script>
		<button class="btn btn-danger light-box-close" onClick="closeBox()">&times;</button>
		<div class="loginbox">
			<img src="../images/login & sign up/avatar.png" class="avatar" alt="image">
			<h1>Give Info</h1>
			<form>
				<center>
					<p>Name</p>
					<input id="lbName" type="text" name="" placeholder="Enter Name" required>
					<br><br>
					<p>Email</p>
					<input id="lbEmail" type="email" name="" placeholder="Enter Email" required>
					<br><br>
					<p>Job Title</p>
					<input id="lbTitle" type="text" name="" placeholder="Company Title" required>
					<br><br>
					<input type="submit" name="" value="Hire Now" onClick="applay(this)">
				</center>
			</form>
			<br>
			<h1 id="toast"></h1>
		</div>
	</div>
<!--	hire job box-->
	
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-fixed-top">

        <a class="navbar-brand" href="../index.html">
            <img src="../images/logo-red.png" class="nav-logo" alt="LOGO"> Job Connect
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown textFontsize mr-2">
                    <a href="../index.html" class="nav-link active" >Home</a>
                </li>

                <li class="nav-item dropdown textFontsize mr-2" id="navJob2">
					
                </li>
				
				<li class="nav-item dropdown textFontsize mr-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Interviews</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="interview.html#first">Sample Interviews (Job Seekers)</a>
						<a class="dropdown-item" href="interview.html#second">Interview Etiquette (Job Seekers)</a>
						<a class="dropdown-item" href="interview.html#third">Avoid in interviews (Job Seekers)</a>
						<a class="dropdown-item" href="interview.html#fourth">Sample Interviews (For Employers)</a>
                        <a class="dropdown-item" href="interview.html#fifth">Tips for Employers</a>
                    </div>
                </li>

                <li class="nav-item dropdown textFontsize mr-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Change Theme</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Red</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Sky Blue</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Orange</a>
                        <a class="dropdown-item" onClick="changeTheme(this)" href="#">Pink</a>
                    </div>
                </li>

                <li class="nav-item dropdown textFontsize mr-2">
                    <a href="../view/contact-us.html" class="nav-link">Contact Us</a>
                </li>

                <li class="nav-item dropdown textFontsize mr-2">
                    <a href="../view/about-us.html" class="nav-link">About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" id="navRegister">
                
			</ul>
        </div>
    </nav>

	<div class="top-img">
		<img src="../images/crousal/slide1.jpg" alt="img" width="100%" height="400px">		
	</div>
	
	<div class="overlap-box">
		<h1 class="center-xy heading text-center">{{subCat +" - "+ jobData.companyTitle}}</h1>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<div class="sub-box-left">
					<center>
						<div style="margin-left: 10%;">
							<i class="fa fa-user-o fa-4x top-man-icon"></i>
							<br>
							<br>
							<h4>{{mainCat}}</h4>
							<h5>{{subCat}}</h5>
							<div class="icon-left-p">
								<i class="fa fa-facebook fa-2x left-icon"></i>
								<i class="fa fa-twitter fa-2x left-icon"></i>
								<i class="fa fa-skype fa-2x left-icon"></i>
							</div>
						</div>
						<hr class="left-line">
						<div class="left-main">
							<br>
							<div class="left-row">
								<i class="fa fa-clock-o fa-2x left-row-icon"></i>
								<div class="left-row-text">Posted Date<br>20 Jan 2019</div>
							</div>
							<br><br>
							<div class="left-row">
								<i class="fa fa-bell fa-2x left-row-icon"></i>
								<div class="left-row-text">Job Position<br>{{subCat}}</div>
							</div>
							<br><br>
							<div class="left-row">
								<i class="fa fa-map-marker fa-2x left-row-icon"></i>
								<div class="left-row-text">Job Location<br>{{jobData.location}}</div>
							</div>
							<br><br>
							<div class="left-row">
								<i class="fa fa-hourglass fa-2x left-row-icon"></i>
								<div class="left-row-text">Hours<br>12 hours</div>
							</div>
							<br><br>
							<div class="left-row">
								<i class="fa fa-money fa-2x left-row-icon"></i>
								<div class="left-row-text">Min Salery<br>{{jobData.salMin}}</div>
							</div>
							<br><br>
							<div class="left-row">
								<i class="fa fa-money fa-2x left-row-icon"></i>
								<div class="left-row-text">Max Salery<br>{{jobData.salMax}}</div>
							</div>
							<br><br>
							<div class="left-row">
								<i class="fa fa-trophy fa-2x left-row-icon"></i>
								<div class="left-row-text">Some Skills<br>{{jobData.skills[0]}}</div>
							</div>
							<br><br><br>
							<h5 class="ad-text">Place for Ad</h5>
							<img src="../images/ad/banner.jpg" class="ad" width="100%" height="550px" alt="ad">
						</div>
					</center>
				</div>
			</div>
			<div class="col-md-8">
				<div class="top-box">
					<div class="top-heading">
						<h3 class="top-head">Job Discription</h3>
						<button class="btn-back btn btn-bg" onClick="return history.back(-1)">Go Back</button>
					</div>
					<div class="sub-box">
						<h4>{{jobData.companyTitle}}</h4>
						<p>{{jobData.companyTitle}} offers best jobs for {{subCat}} :</p>
						<br>
						<p>{{jobData.discription}}</p>
					</div>
					<div class="top-heading">
						<h3 class="top-head">Required Skills &amp; Qualification</h3>
					</div>
					<div class="sub-box">
						<div class="res-tags-p">
							<span class="res-tag" ng-repeat="tag in jobData.skills">
								<i class="fa fa-check-circle mr-2 res-icons"></i>{{tag}}
							</span>
						</div>
					</div>
					<div class="top-heading">
						<h3 class="top-head">Experience &amp; Salery</h3>
					</div>
					<div class="sub-box">
						<div class="salery-p">
							<h5>
								<i class="fa fa-credit-card sal-icon"></i>
								<span>Min Salery: </span>
								{{jobData.salMin}}
							</h5>
							<h5>
								<i class="fa fa-credit-card sal-icon"></i>
								<span>Max Salery: </span>
								{{jobData.salMax}}
							</h5>
						</div>
						<br><br>
						<div class="salery-p">
							<h5>
								<i class="fa fa-user sal-icon"></i>
								<span>Vacancies: </span>
								{{jobData.vacancies}}
							</h5>
							<h5>
								<i class="fa fa-vcard sal-icon"></i>
								<span>Experience: </span>
								{{jobData.exp}}
							</h5>
						</div>
					</div>
					
					<div class="top-heading">
						<h3 class="top-head">Job Location</h3>
					</div>
					<div class="sub-box">
						<div class="map">
							<div class="mapG bg-light">
								<div class="mapouter bg-color-blue " >
									<div class="gmap_canvas">
										<iframe width="100%" height="300px" id="gmap_canvas"
											src="https://maps.google.com/maps?q=aptech%20shar&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
											scrolling="no" marginheight="0" marginwidth="0">
										</iframe>
									</div>
									<style>
										.mapouter {
											text-align: right;
											height: 300px;
											width: 100%;
										}

										.gmap_canvas {
											overflow: hidden;
											background: none !important;
											height: 300px;
											width: 100%;
										}
									</style>
								</div>
							</div>
						</div>
						<br>
						<h4 class="text-center">{{jobData.location}}</h4>
					</div>
					<div class="apply-btn" onClick="openApplyJob()">Apply Now</div>
				</div>
				
			</div>
		</div>
	</div>
	  
	<!--	about panel-->
	<div class="about-panel container-fluid">
		<div class="row">
			<div class="col-md-3 ab-first-row">
				<center><img alt="img" src="../images/logo-red.png" width="200px" height="auto" /></center>
				<!--					<br>-->
				<!--					<p>We provide you best opertunities to get Jobs in a high talented working comunity.</p>-->
				<br><br>
				<center>
					<hr style="background-color: #1E1E1E; width: 90%;">
				</center>
				<p>Call Us - 0348-2821889</p>
				<p>Send Email On ranag4u69@gmail.com</p>
				<p>Visit Us SFC Aptech Karachi, Pakistan</p>
			</div>
			<div class="col-md-3">
				<h3>POPULAR CATEGORIES</h3>
				<br>
				<div class="tags">
					<span>REACT-NATIVE</span>
					<span>ANDROID</span>
					<span>HTML &amp; CSS</span>
					<span>JAVASCRIPT</span>
					<span>REACT-JS</span>
					<span>JAVA</span>
					<span>ASP.NET</span>
				</div>
				<br>
				<br>
				<br>
				<h3>GET MORE INFO</h3>
				<p>Get any info or give us any suggestions by contacting us.We provide you best opertunities to get
					Jobs quickly.</p>
			</div>
			<div class="col-md-3">
				<h3>RECENTS JOBS</h3><br>
				<h4>Software House Manager</h4>
				<h4>Content Writer</h4>
				<h4>Game Developer</h4>
				<h4>Frontend Designer</h4>
				<h4>Backend Server Designer</h4>
				<br>
				<br>

				<p>Get More Jobs...</p>
				<div class="icon-bar">
					<a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
					<a href="https://www.twitter.com" class="twitter"><i class="fa fa-twitter"></i></a>
					<a href="https://www.google.com" class="google"><i class="fa fa-google"></i></a>
					<a href="https://www.linkedin.com" class="linkedin"><i class="fa fa-linkedin"></i></a>
				</div>
			</div>
			<div class="col-md-3">
				<h3>CONTACT US</h3>
				<br>
				<form>
					<input class="form-control" placeholder="Name" required /><br>
					<input class="form-control" placeholder="Email" required/><br>
					<input class="form-control" placeholder="Subject" required/><br>
					<input class="form-control" placeholder="Content" required/><br>
					<input type="submit" class="btn ab-btn" value="Submit" onSubmit="alert('form sent')" />
				</form>
			</div>
		</div>
	</div>
	<!--	about panel end-->

	<!--	 Footer-->
	<div class="footer-div">
        <footer><span class="ml-5 float-left">Date &amp; Time : <span id="date"></span></span> Copyright TechWiz &copy;- All rights Reserved <span class="mr-5 float-right">Page Views : <span id="pgView"></span></span></footer>
    </div>
	<!--	footer end-->


	
</body>
</html>
